<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" th:method="post">
    <div class="form-group">
        <label for="username">Email:</label>
        <input type="text" class="form-control" id="username" name="username"
               placeholder="enter email"></input>
    </div>
    <div class="form-group">
        <label for="password">Passwort:</label>
        <input type="password" class="form-control" id="password" name="password"
               placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</body>
</html>