<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Create Product</h1>
<form method="post" action="/registerUser">
    First Name:<input type="text" name="firstName"><br/>
    Last Name :<input type="text" name="lastName"/><br/>
    Email :<input type="text" name="email"/><br/>
    Password :<input type="text" name="passwordReg"/><br/>
    Street Name :<input type="text" name="streetName"/><br/>
    ZIP Code:<input type="int" name="zipCode"/><br/>
    City :<input type="text" name="city"/><br/>
    <input type="submit" value="Register">
</form>
</body>
</html>