<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/loginPage">Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="logout">Logout
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li>
                    <a class="nav-link" href="/createmusik">Create Musik</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Beats Music Shop</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>

        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <div class="page-title">Musik List</div>
                    <table border="1" cellpadding="10">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Preis</th>
                            <th>Genre</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="musik: ${musikliste}">
                            <td>
                                <img th:src="@{images/klangkuenstler.jpg}" style="width: 100px;height: 100px">
                            </td>
                            <td th:text="${musik.getProductname()}">Name</td>
                            <td th:text="${musik.getPrice()}">Preis</td>
                            <td th:text="${musik.getGenre()}">Genre</td>
                            <td th:text="${musik.getTitle()}">Title</td>
                            <td>
                                <a th:href="${'/cart/buy/' + musik.getMusikIdString()}" class="col-md-1">
                                    <button type="button" class="btn btn-primary" th:text="Buy">Buy</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>




</body>

</html>

